.tab-list{
    margin-top: 50px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    li{
        list-style: none;
        margin-right: 10px;
        &:hover{
            button{
                background: #d3b673;
                color: #fff;
            }
        }
        button{
            border: 1px solid #d3b673;
            background: #fff;
            width: 200px;
            padding: 10px;
            color: #d3b673;
            font-size: 18px;
            transition: 0.4s;
        }
    }
    .active{
        button{
            background: #d3b673;
            color: #fff;
        }
    }
}
.pagination-pro{
    ul{
        padding-left: 0 !important;
    }
}
